body,td{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#999;}
input,textarea,select{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333;}
.splFont-mono{font-family:Consolas,Monaco,Courier New,monospace;}
h1{color:#8fbc5a;}
h2,h4{color:#ccc;}
.EventsViewer .default .event{color:#aaa;}
.EventsViewer .default .fields .v{color:#999;}
.fieldValuePopup table td,.fieldValuePopup table th{color:#aaa;}
.SearchBar textarea{color:#333;}
.splHeader-dashboard h2,.dashboardContent .ServerSideInclude h2,.SearchBar .saRow h4{color:#8fbc5a;}
.TitleBar .splHeader h2,.dashboardContent h3,.dashboardContent .GenericHeader h3{color:#dcd73a;}
.appLogo{height:43px;width:331px;background-image:url(appLogo.png);background-repeat:no-repeat;}
.appHeaderWrapper h1{display:none;}
.appHeaderWrapper{background-color:#161410;background-image:none;border-bottom-style:solid;border-bottom-width:1px;}
.appHeaderWrapper .splIcon-triangle-3-s{background-position:-27px -367px;}
#loading{background-color:#363430;}
a,.EventsViewer .default .showinline{color:#99d3d5;}
div.FlashTimeline a,div.FlashTimeline a:visited,.JobStatus a,.LinkSwitcher ul li.selected a{color:#ccc;}
.splHeader-navigation{background-image:none;background-repeat:repeat-x;_background-image:none;}
ul.appBarNav li{margin-right:5px;}
ul.appBarNav li a,ul.appBarNav li a:active,ul.appBarNav li a:visited{color:#ccc;}
ul.appBarNav li.hasMenu a:hover,ul.appBarNav li a:hover{color:#dcd73a;background-color:#262420;background-image:none;background-repeat:repeat-x;_background-image:none;}
ul.appBarNav li a.menuOpen{color:#dcd73a;background-color:#262420;background-image:none;background-repeat:repeat-x;_background-image:none;}
.AppBar .auxLinks a{color:inherit;}
.AppBar .auxLinks span{color:inherit;}
.splMenu-primary ul{background-color:#262420;}
.splMenu-primary,.splMenu-primary a,.splMenu-primary a:visited,.splMenu-primary a:hover{color:#ccc;}
.splMenu-primary li:hover{background-color:#363430;}
.splMenu-primary a:hover{color:#ccc;}
.splMenu-secondary ul{background-color:#262420;}
.splMenu-secondary,.splMenu-secondary a{color:#ccc;}
.splMenu-secondary li.disabled a{color:#666;}
.splMenu-secondary li:hover{background-color:#363430;}
.splMenu-secondary a:hover{color:#ccc;}
.TitleBar div.menuOpen{background-color:#262420;color:#ccc;}
ul.appBarNav li.hasMenu a span.splIcon-triangle-2-s{}
ul.appBarNav li.hasMenu a:hover span.splIcon-triangle-2-s{}
ul.appBarNav li.hasMenu a.menuOpen span.splIcon-triangle-2-s{}
.TitleBar div.menuOpen .splIcon-triangle-4-s{}
.splIcon-triangle-4-e{background-position:-27px -407px;}
.splIcon-triangle-4-s{background-position:-27px -367px;}
.EventsViewer .default .fields .fm{background-position:-27px -364px;}
.ShowHideHeader h2 span.splIcon-triangle{background-position:-27px -367px;}
.ShowHideHeader h2.closed span.splIcon-triangle{background-position:-27px -407px;}
body,.splBackground-default,.graphArea,.resultsArea,.reportSecondPanel,.reportThirdPanel,.sidebarCollapsed,.SearchBar .saTypeaheadWrapper,.ui-datepicker-links,.popupContent,.SearchBar .assistantContainer{background-color:#161410;}
.viewHeader,.mainSearchControls,.splSearchControls-inline,.SearchBar .saHelpWrapper,.popupContent{background-color:#161410;}
.splBackground-secondary,.sidebarExpanded,.fieldValuePopup p.reportLinks,.fieldValuePopup div.reportLinks{background-color:#262420;}
.TimeRangePicker .timeRangeActivatorWrapper{background-color:#262420;}
.TimeRangePicker .timeRangeActivator { color: #eee; }
.layoutCellInner .ResultsHeader .splHeader,.layoutCellInner .ResultsHeader .splHeader-secondary{background:transparent none;}
.popupFooter{background-color:#363430;}
body.splTemplate-dashboard{background-color:#262420;}
.dashboardCell{background-color:#161410;background-image:none;-moz-box-shadow:none;-webkit-box-shadow:none;_background-image:none;}
.splHeader-primary,.FieldPickerPopup .splHeader-primary,.splHeader-popup{background-color:#161410;background-image:url(dark_theme/bg_gradient_28.png);background-repeat:repeat-x;_background-image:none;}
.splHeader-secondary{background-color:#262420;background-image:url(dark_theme/bg_gradient_secondary_28.png);background-repeat:repeat-x;_background-image:none;}
.TitleBar .splHeader,.FlashTimeline .splHeader-primary{background-color:#161410;background-image:none;}
*{border-color:#262420;}
.popupContainer,.fieldLayers .popupContainer,.splMenu-primary,.splMenu-primary ul,.splMenu-secondary ul{border-color:#262420;}
.actionsMenuDivider{border-color:#464440;}
hr{color:#262420;}
.fieldValuePopup table tr.fieldNameHeaderRow th{border-bottom:1px solid #262420;}
.splDivider,.SuggestedFieldViewer .splBorder-n{border-color:#363430;}
table.splTable,table.splTable td,table.splTable th{border-color:#262420;}
.fieldValuePopup table td,.fieldValuePopup table th{border-color:#262420;}
.sortLabel{color:#CCCCCC;}
.splSortNone,.splSortAsc,.splSortDesc{background-image:url(dark_theme/splIcons.gif);background-position:-67px -446px;background-repeat:no-repeat;cursor:pointer;}
.splSortDesc{background-position:-67px -365px;}
.splSortDesc:hover{background-position:-67px -385px;}
.splSortAsc{background-position:-67px -385px;}
.splSortAsc:hover{background-position:-67px -366px;}
input.searchButton{background-color:#dcd73a;background-position:0 0;}
.SearchBar .assistantActivator{background-color:#dcd73a;}
.SearchBar .assTab span.splIcon-triangle{
background-position:-67px -367px;}
.SearchBar a.assistantEnabled span.splIcon-triangle{
background-position:-67px -386px;}
.splSearchControls-inline{background-image:none;}
.SearchBar .searchFieldWrapperInner{border-color:#fff;}
div.FlashChart{background-color:#161410;border-left-color:#fff;color:#fff;}
div.FlashTimeline{background-color:#161410;border-left-color:#fff;color:#fff;
border-right-color:#396b76;}
.splBarGraphBar{background-color:#396b76;}
.splBarGraph{background:#363430;}
.splButton-primary{background-color:#dcd73a;color:#000;background-image:none;}
.splButton-primary:hover{background-color:#ccc74a;color:#000;background-image:none;}
.splButton-secondary{background-color:#565450;background-image:none;}
.splButton-secondary:hover{background-color:#666460;background-image:none;}
.ResultsActionButtons .saveButton span p.splIcon{background-position:-67px -367px;}
fieldset legend{color:#dcd73a;font-size:12px;}
fieldset legend span{color:#999;font-size:11px;}
p.exampleText{color:#999;}
p.fieldsetHelpText{color:#999;}
input[disabled]{background-color:transparent;border-color:transparent;}
.splIcon-events-list,.splIcon-events-table,.splIcon-results-table{}
.splIcon{background-color:#464440;}
.ButtonSwitcher ul li.selected,.ButtonSwitcher ul li.selected:hover,.EventsViewer .default .actions,div.FlashTimeline a.logScaleSelected span,div.FlashTimeline a.linScaleSelected span{border:1px solid #464440;background-color:#464440;}
.ButtonSwitcher ul li,.Paginator a,.Paginator .disabled:hover{border-color:transparent;}
.Paginator .active a,.Paginator .active a:hover{background-color:#464440;border-color:#464440;color:#fff;}
.Paginator a:hover{border-color:#464440;}
.splIcon-arrow-n,.splIcon-arrow-e,.splIcon-arrow-s,.splIcon-arrow-w{background-color:#464440;}
.splIcon-triangle,.splIcon-triangle-1-n,.splIcon-triangle-1-s,.splIcon-triangle-1-e,.splIcon-triangle-1-w,.splIcon-triangle-2-n,.splIcon-triangle-2-s,.splIcon-triangle-2-e,.splIcon-triangle-2-w,.splIcon-triangle-3-n,.splIcon-triangle-3-s,.splIcon-triangle-3-e,.splIcon-triangle-3-w,.splIcon-triangle-4-n,.splIcon-triangle-4-s,.splIcon-triangle-4-e,.splIcon-triangle-4-w,.splIcon-triangle-5-n,.splIcon-triangle-5-s,.splIcon-triangle-5-e,.splIcon-triangle-5-w{background-color:transparent;}
.splIcon-triangle-large{background-color:transparent;}
.FieldPickerPopup .fpFieldListContainerOuter th span{background-position:-27px -441px;}
.FieldPickerPopup .fpFieldListContainerOuter th.headerSortDown span{background-position:-27px -360px;}
.FieldPickerPopup .fpFieldListContainerOuter th.headerSortUp span{background-position:-27px -379px;}
.EventsViewer .default .a,.EventsViewer .default .h,.EventsViewer .default .fields .v:hover,.EventsViewer .default .fields .tg:hover{background-color:#262420;}
.mouseoverHighlight,.mouseoverHightlight td{background-color:#262420;}
.SimpleEventsViewer span.searchTermHighlight{background-color:#363430;}
.MultiFieldViewer .fieldTabs .mouseoverHighlight,.MultiFieldViewer .fieldTabs .selected,.SuggestedFieldViewer .fieldTabs .mouseoverHighlight,.SuggestedFieldViewer .fieldTabs .selected{background-color:#363430;}
.FieldPickerPopup .fpFieldList tbody tr:hover,.FieldPickerPopup .fpFieldList tbody tr.mouseoverHighlight{background-color:#363430;}
.fieldTabs a:hover{color:#fff;}
.ui-datepicker-current-day{background-color:#363430;}
.ui-datepicker-links{background-image:none;_background-image:none;}
.splHeader-popup h2{color:#FFF;font-size:12px;}
.splOverlay,.splOverlay-white{background-color:#000;opacity:0.8;filter:alpha(opacity=80);}
.splOverlay-white{background-color:#FFF;}
.ui-resizable-s{background-color:#565450 !important;}
.JobStatus .output .running h2,.JobStatus .output .runningReport h2,.JobStatus .output .finalizing h2{background-image:url(dark_theme/loader.gif);}
.EventsViewer,.SimpleResultsTableResults{background-image:none;}
.SingleValueHolder{background-color:#333;}
.splFormSearch .TimeRangePicker{float:none;margin:0;}
.splFormSearch .ExtendedFieldSearch label,.splFormSearch .SearchSelectLister label{padding:0;}
.splFormSearch .SubmitButton{clear:none;margin:0;}
.splView-about_dashboard .mainSearchControls{display:none;}
.splFormSearch .viewHeader{padding-bottom:10px;}
.splFormSearch .viewHeader .SplunkModule{padding:0 0 0 0;}
.splFormSearch .viewHeader .TimeRangePicker,.splFormSearch .viewHeader .SubmitButton{padding-top:17px;}
.splFormSearch .viewHeader .SearchSelectLister,.splFormSearch .viewHeader .StaticSelect,.splFormSearch .viewHeader .TimeRangePicker,.splFormSearch .viewHeader .ExtendedFieldSearch,.splFormSearch .viewHeader .StaticRadio,.splFormSearch .viewHeader .SubmitButton{float:left;margin-left:10px;margin-top:10px;}
.splFormSearch .viewHeader .SearchSelectLister label,.splFormSearch .viewHeader .StaticSelect label,.splFormSearch .viewHeader .ExtendedFieldSearch label{display:block;}
.splFormSearch .viewHeader .SearchSelectLister select,.splFormSearch .viewHeader .StaticSelect select{min-width:250px;line-height:23px;height:23px;border:0;background-color:#fff;}
.splFormSearch .viewHeader input{padding:4px;}
.splView-log_thruput_multiple_hosts .ExtendedFieldSearch input{width:500px;}
.SimpleResultsHeader h3 { color: #eee; }